{% extends 'base.html' %}

{% block title %}<title>Login</title>{% endblock title %}

{% block content %}
    <br>
    <div class="container" style="align-items: center;">
    
        <div class="row">
            <div class="col-lg-5">
                <form action="#" method="POST">

                    <!-- Header Text -->
                    <div>
                        <h5 style="text-align: center;">Pleas log in here</h5>
                    </div>

                    <!-- Username -->
                    <div class="form-group">
                        <label>Username</label>
                        <input type="text" class="form-control" name="username">
                    </div>

                    <!-- Password -->
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" name="password">
                    </div>

                    <!-- Button for submitting form -->
                    <div style="text-align: center;">
                        <button type="submit" class="btn btn-primary">Create Course</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
